<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            CXP Toolkit
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/specialMealChecker">Special Meal Checker</a></li>
            <li><a href="/pilotMealChecker">Pilot Meal Checker</a></li>
            <li><a href="/advMeal">Advanced Meal Updater</a></li>
            <li><a href="/advMaterial">Advanced Material Updater</a></li>
            <li><a href="/statusChanger">Flight Status Changer</a></li>
            <li><a href="/utility">Utilities</a></li>
            <li><a href="/getReports">Get Reports</a></li>
        </ul>
    </div>

</div>
</nav>